.bg-rad {
    background: rgb(63, 199, 251);
    background: radial-gradient(circle, rgba(63, 199, 251, 0.5802696078431373) 0%, rgba(235, 70, 252, 0.36738445378151263) 100%);
    min-height: 500px;
}

.bg-footer {
    background: #f0ceed;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}